# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Databases
*.sqlite3
test.db

# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Linters
.ruff_cache/

# Static files
staticfiles/